.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 206, 206); 
}

.container-main {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(206, 204, 204);
    border-radius: 10px;
}

.input-container {
    margin-top: 12px;
}


.h1-usuarios {
    text-align: center;
}

.error-msg {
    color: red;
    padding: 0;
    margin: 0;
}

#gravar {
    margin-top: 5px;
}
