{# templates/produtos.html #}

{{ include('inc/header.html') }}

<h1 class="h1-usuarios">Listagem de Usuários</h1>

<table class="table  table-bordered">
	<tr>
		<th>ID</th>
		<th>Nome</th>
		<th>Email</th>
		<th>Username</th>
		<th>Admin</th>
		<th>Funções</th>
	</tr>
	{% for user in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td><a href="usuario_ver.php?id={{ user.id }}">{{ user.nome }}</a></td>
			<td>{{ user.email }}</td>
			<td>{{ user.username }}</td>
			{% if user.admin == 1%}
				<td>Sim</td>
			{% else %}
				<td>Não</td>
			{% endif %}
			<td>
				<a href="deleteUser.php?id={{ user.id }}">
					<i class="ph ph-trash"></i>
				</a>
				<a href="alterUser.php?id={{ user.id }}">
					<i class="ph ph-pencil-simple"></i>
				</a>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="2">Nenhum produto</td>
		</tr>
	{% endfor %}
</table>


{{ include('inc/footer.html') }}
