{{ include('inc/header.html') }}

{% if erro == 1 %}
	Usuário ou senha inválidos! 😭
{% elseif erro == 2 %}
	Você está tentando acessar uma página restrita, safadinho! 🙄
{% elseif erro == 3 %}
	Senha alterada com sucesso. 
{% endif %}

<div class="container-main">
	<form action="login_verifica.php" method="POST">
		<div class="form-container">
			<h2>Login</h2>
			<div class="input-container">
				<input type="text" class="form-control" name="user" id="user" placeholder="Usuário">
			</div>
			<div class="input-container">
				<input type="password" class="form-control" name="password" id="password" placeholder="Senha">
			</div>
			<div class="input-container">
				<button type="submit" class="btn btn-primary">Acessar</button>
			</div>
			<div>
				<a href="recuperar_senha.php">Esqueci minha senha</a>
			</div>
		</div>
	</form>
</div>
{{ include('inc/footer.html') }}